body{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 600 ;
    background-color: rgba(217, 217, 217, 1);
  }
  li:hover, a:hover{
    border-bottom: 4px solid rgb(10, 2, 19);
    font-size: 26px;
    font-weight: bold;
    color: rgb(78, 58, 102);
  }
  .bar{
      background-color: rgba(24, 10, 40, 1);
      width: 100%;
      height: 60px;
      position: absolute;
      left: 0px;
      top: 0px;
  }
  .logo{
      width: 280px;
      height: 60px;
      cursor: pointer;
  }
  .nav {
    margin-top: 61px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 0 20px;
  }
  
  ul {
    display: flex;
    list-style: none;
    width: 100%;
  }
  
  li {
    margin-right: 1%;
    border-bottom: 2px solid rgba(24, 10, 40, 1);
    margin-left: 10%;
    width: auto;
  }
  
  a {
    font-size: 25px;
    text-decoration: none;
    text-align: center;
    color: black;
  }
  
  @media (max-width: 768px) {
    .nav {
      flex-direction: column;
      height: auto;
    }
  
    ul {
      flex-direction: column;
      margin: 0;
      padding: 0;
      display: block;
      width: 100%;
    }
  
    li {
      margin: 0;
      text-align: center;
      padding-left: 0px;
    }
  
    a {
      padding: 10px 0;
      display: block;
      border-bottom: 2px solid rgba(24, 10, 40, 1);
    }
  
    .burger-menu {
      display: block;
      cursor: pointer;
    }
    .rastravaja_shtuka{
      width: 0px;
      height: 0px;
      background-image: none;
    }
    .rastravaja_shtuka_mirrored{
      width: 0px;
      height: 0px;
      background-image: none;
    }
    #art_pic{
      width: 300px;
      height: 200px;
      margin-left: 5px;
    }
    .main_thing{
      width: 100%;
      height: 1800px;
      left: 8px;
      top: 119px;
      background: #E6D9FC;
      align-items: center
    }
  }
  .rastravaja_shtuka{
    width: 80%;
    margin-left: 10%;
    height: 180px;
    background-image: url("droch.png");
  }
  .main_thing{
    width: 80%;
    height: 100%;
    margin-left: 10%;
    background: #E6D9FC;
    align-items: center
  }
  .rastravaja_shtuka_mirrored{
    width: 80%;
    height: 180px;
    margin-left: 10%;
    background-image: url("droch_zerkalnaja.png");
  }
  .filler1{
    display: inline-block;
    width: 50%;
    margin-left: 5%;
  }
  #dychy{
    width: 30%;
    height: 20%;
  }
  .filler2{
    display: inline-block;
    width: 50%;
    margin-left: 5%;
  }
  #tactic{
    width: 30%;
    height: 40%;
  }
  #search{
    width: 60%;
    margin-left: 20%;
  }
  .srch{
    word-wrap: break-word;
    font-size: 20px;
    margin-left: 5%;
    width: 80%;
  }
  span{
    font-size: 23px;
    font-weight: 800;
  }
  span:hover{
    font-size: 25px;
    font-weight: 900;
  }