body{
  font-family: 'Ubuntu', sans-serif;
  font-weight: 600 ;
}
li:hover, a:hover{
  border-bottom: 4px solid rgb(10, 2, 19);
  font-size: 35px;
  font-weight: bold;
  color: rgb(78, 58, 102);
}
.bar{
    background-color: rgba(24, 10, 40, 1);
    width: 100%;
    height: 60px;
    position: absolute;
    left: 0px;
    top: 0px;
}
.logo{
    width: 280px;
    height: 60px;
    cursor: pointer;
}
.nav {
  margin-top: 61px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 0 20px;
}

ul {
  display: flex;
  list-style: none;
}

li {
  margin-right: 20px;
  border-bottom: 2px solid rgba(24, 10, 40, 1);
  margin-left: 150px;

}

a {
  font-size: 32px;
  text-decoration: none;
  text-align: center;
  color: black;
}

@media (max-width: 768px) {
  .nav {
    flex-direction: column;
    height: auto;
  }

  ul {
    flex-direction: column;
    margin: 0;
    padding: 0;
    display: block;
    width: 100%;
  }

  li {
    margin: 0;
    text-align: center;
    padding-left: 0px;
  }

  a {
    padding: 10px 0;
    display: block;
    border-bottom: 2px solid rgba(24, 10, 40, 1);
  }

  .rastravaja_shtuka{
    width: 0px;
    height: 0px;
    background-image: none;
  }
  .rastravaja_shtuka_mirrored{
    width: 0px;
    height: 0px;
    background-image: none;
  }
  #art_pic{
    width: 300px;
    height: 200px;
    margin-left: 5px;
  }
  .main_thing{
    width: 100%;
    height: 1800px;
    left: 8px;
    top: 119px;
    background: #E6D9FC;
    align-items: center
  }
  .scls{
    display: block;
  }
  .article_filler{
    display: block;
  }
  .socials_twt{
    display: block;
    margin-left: 0px;
  }
  .socials_email{
    display: block;
    margin-left: 0%;
  }
  #scls_p{
    font-size: 5px;
    display: none;
  }
  p{
    font-size:10px;
  }
  h1{
    font-size: 17px;
  }
}
.rastravaja_shtuka{
  width: 100%;
  height: 180px;
  background-image: url("droch.png");
}
.main_thing{
  width: 100%;
  height: 100%;
  left: 8px;
  top: 119px;
  background: #E6D9FC;
  align-items: center
}
.rastravaja_shtuka_mirrored{
  width: 100%;
  height: 180px;
  background-image: url("droch_zerkalnaja.png");
}
#art_pic{
  width: 400px;
  height: 400px;
  display: inline-block;
}
.article_filler{
  display: inline-block;
  margin-left: 20px;
}
p{
  font-size: 20px;
}
h1{
  font-size: 35px;
}
.psycho_pic{
  width: 100%;
  height: 30%;
}
.socials_twt{
  display: inline-block;
  margin-left: 20px;
}
.socials_email{
  display: inline-block;
  margin-left: 50%;
}
.scls_logo{
  width: 40px;
  height: 40px;
}
#scls_p{
  font-size: 30px;
}
.scls{
  display: inline-block;
}