text{
    font-family: 'Ubuntu', sans-serif;;
    font-size:11px;
    pointer-events:none;
}
#chart{
    position:relative;
    width:50%;
    height:50%;
    top:0;
    left:0;
    margin-left: 50;
    align-self: center;
    display: inline-block;
    
}
#question{
    position: absolute;
    width:20%;
    height:25%;
    margin-left: 5%;
    margin-top: 15%;
    display: inline-block;
}
.logo{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 80px;
    -webkit-text-stroke: 2px;
    -webkit-text-stroke-color: black;
    color:burlywood;
}
.wrap{
position: relative;
}
li:hover, a:hover{
    border-bottom: 4px solid rgb(10, 2, 19);
    font-size: 26px;
    font-weight: bold;
    color: rgb(78, 58, 102);
  }
.text:hover{
    box-shadow: 3px 3px rgba(112, 102, 145, 0.8), -1em 0 .4em rgba(172, 191, 117, 0.8);
}
.text{
    color: antiquewhite;
}
body{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 600 ;
  }
  .bar{
      background-color: rgba(24, 10, 40, 1);
      width: 100%;
      height: 60px;
      position: absolute;
      left: 0px;
      top: 0px;
  }
  .logo{
      width: 280px;
      height: 60px;
      cursor: pointer;
  }
  .nav {
    margin-top: 61px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 0 20px;
  }
  
  ul {
    display: flex;
    list-style: none;
  }
  
  li {
    margin-right: 20px;
    border-bottom: 2px solid rgba(24, 10, 40, 1);
    margin-left: 150px;
  
  }
  
  a {
    font-size: 25px;
    text-decoration: none;
    text-align: center;
    color: black;
  }
  
  @media (max-width: 768px) {
    .nav {
      flex-direction: column;
      height: auto;
    }
  
    ul {
      flex-direction: column;
      margin: 0;
      padding: 0;
      display: block;
      width: 100%;
    }
  
    li {
      margin: 0;
      text-align: center;
      padding-left: 0px;
    }
  
    a {
      padding: 10px 0;
      display: block;
      border-bottom: 2px solid rgba(24, 10, 40, 1);
    }
  
    .rastravaja_shtuka{
      width: 0px;
      height: 0px;
      background-image: none;
    }
    .rastravaja_shtuka_mirrored{
      width: 0px;
      height: 0px;
      background-image: none;
    }
    .main_thing{
      width: 100%;
      height: 2800px;
      left: 8px;
      top: 119px;
      background: #E6D9FC;
      align-items: center
    }
    #question,#chart{
        display: block;
    }
    #chart{
        width: 90%;
        height: 90%;
        position:relative;
        margin-left: 40%;
    }
    #question{
        width: 90%;
        height: auto;
        margin-top: 10%;
        font-size: 12px;
    }
  }
  .rastravaja_shtuka{
    width: 100%;
    height: 180px;
    background-image: url("droch.png");
  }
  .main_thing{
    width: 100%;
    height: 800px;
    background: #E6D9FC;
    align-items: center
  }
  .rastravaja_shtuka_mirrored{
    width: 100%;
    height: 180px;
    background-image: url("droch_zerkalnaja.png");
  }