.h{
    display: inline-block;
    font-size: 40px;
}
#h_2{
    margin-left: 300px;
}
#h_1{
    margin-left: 20px;
}
.wrap{
    width: 100%;
}

  
  @keyframes slidein {
    from {
      left: -800px;
      opacity: 0;
    }
    to {
      left: 100px;
      opacity: 1;
    }
  }
.img_choise{
    width: 150px;
    height: 150px;
    margin-left: 100px;
}
.clubname{
    font-size: 30px;
    padding-left: 10px;
}
.club_info{
    padding-left: 10px;
}
body{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 600 ;
  }
  .bar{
      background-color: rgba(24, 10, 40, 1);
      width: 100%;
      height: 60px;
      position: absolute;
      left: 0px;
      top: 0px;
  }
  .logo{
      width: 280px;
      height: 60px;
      cursor: pointer;
  }
  .nav {
    margin-top: 61px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 0 20px;
  }
  
  ul {
    display: flex;
    list-style: none;
  }
  
  li {
    margin-right: 20px;
    border-bottom: 2px solid rgba(24, 10, 40, 1);
    margin-left: 150px;
  
  }
  
  a {
    font-size: 25px;
    text-decoration: none;
    text-align: center;
    color: black;
  }
  
  @media (max-width: 768px) {
    .nav {
      flex-direction: column;
      height: auto;
    }
  
    ul {
      flex-direction: column;
      margin: 0;
      padding: 0;
      display: block;
      width: 100%;
    }
  
    li {
      margin: 0;
      text-align: center;
      padding-left: 0px;
    }
  
    a {
      padding: 10px 0;
      display: block;
      border-bottom: 2px solid rgba(24, 10, 40, 1);
    }
    .rastravaja_shtuka{
      width: 0px;
      height: 0px;
      background-image: none;
    }
    .rastravaja_shtuka_mirrored{
      width: 0px;
      height: 0px;
      background-image: none;
    }
    .main_thing{
      width: 100%;
      height: 10000%;
      background: #E6D9FC;
      align-items: center
    }
    .card{
        display: block;
        margin-left: 10px;
        margin-top: 25px;
        width: 90%;
        height: 20%;
        animation-name: slidein;
        animation-duration: 2s;
    }
      .img_choise{
        display: none;
          width: 50px;
          height: 50px;
          padding-left: 25px;
      }
      .clubname{
          font-size: 15px;
          padding-left: 30%;
      }
      .club_info{
          padding-left: 30%;
          font-size: 10px;
      }
    
    .h{
      display: none;
    }
  }
  .rastravaja_shtuka{
    width: 100%;
    height: 180px;
    background-image: url("droch.png");
  }
  .main_thing{
    width: 100%;
    height: 100%;
    background: #E6D9FC;
    align-items: center
  }
  .rastravaja_shtuka_mirrored{
    width: 100%;
    height: 180px;
    background-image: url("droch_zerkalnaja.png");
  }
  li:hover, a:hover{
    border-bottom: 4px solid rgb(10, 2, 19);
    font-size: 26px;
    font-weight: bold;
    color: rgb(78, 58, 102);
  }
  
  .card {
    backdrop-filter: blur(5px);
    width: 20%;
    height: 50%;
    margin-left: 4%;
    display: inline-block;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.051),
      0px 0px 7.2px rgba(0, 0, 0, 0.073), 0px 0px 13.6px rgba(0, 0, 0, 0.09),
      0px 0px 24.3px rgba(0, 0, 0, 0.107), 0px 0px 45.5px rgba(0, 0, 0, 0.129),
      0px 0px 109px rgba(0, 0, 0, 0.18);
  }
  
  .glare-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
  }
  
  .glare {
    position: absolute;
    width: 150%;
    height: 150%;
    background: rgb(255, 255, 255);
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0.1) 0%,
      rgba(255, 255, 255, 0) 20%
    );
    transform: rotateZ(35deg);
    pointer-events: none;
    filter: blur(4px);
  }
  
  .card-0{
    background-color: rgba(224, 193, 108, 0.3);
  }
  
  .card-1 {
    background-color: rgba(255, 59, 0, 0.37);
  }
  
  .card-2 {
    background-color: rgba(255, 0, 0, 0.23);
  }
  .card-3{
    background-color: rgba(0, 183, 255, 0.23);
  }
